.Back{
  padding-top: 400px;
  padding-bottom: 400px;
  background-size: cover;
  background-position-y: center;
  /* background-image: linear-gradient(to top,rgba(0, 0, 0, 0) 0%, rgba(1, 1, 1, 0) 100%), url(../../../../assets/img/Recurso.png); */
  color: white;
  
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 100%;
  margin-top: -10px;
}


.btn{
  /* background-image: linear-gradient(to left,rgba(37, 53, 157, 0.979) 0%, rgb(105, 5, 133) 100%); */
  padding: 17px 50px;
  font-size: 18px;
  margin-left: 60px;
  border-radius: 50px;
  color: white;
  text-decoration: none;
  position: absolute;
  margin-top: -240px;
}