
<app-navbar></app-navbar>

<div class="absolute">


  <mat-card class="example-card">
    <img mat-card-image src="../../../../assets/img/kpop.webp" alt="photo">
    
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>kpop</mat-card-title>
      <mat-card-subtitle>comenta sobre tu grupo favorito</mat-card-subtitle>
    </mat-card-header>

    <mat-card-actions>
  <button mat-raised-button color="primary" (click)="crearForo(0)">
    Crear Foro
  </button>
    <button mat-stroked-button color="primary" routerLink="/login">Unete ahora</button>
    </mat-card-actions>
  </mat-card>
</div>


<div class="Filas">

  <div class="titulo">
    <h2>NUEVOS TEMAS</h2>
  </div>

  <div class="primer" *ngFor="let element of listaTemas; let i = index">
    <div class="der">
      <h1 class="sub"> {{ element.titulo }}</h1>
    </div>
    <div class="izq">
      <p class="cantidadMensajes">
        {{ cantidad_mensajes }} <br>mensajes
      </p>
      <!-- <img src="../../../../assets/img/chibi-paz.jpg" alt="avatar" class="avatar"> -->

      <p><a href="#" routerLink="/dashboard/ver-foro">descripcion del foro 1</a><br> Por - {{ element.usuario }} <span> {{ element.fecha }}</span></p>
      <button (click)="verUnForo(element.foroid)">Ver</button>
    </div>
  </div>

</div>