<div class="all">
  <div class="body">
    
    <div class="login">
      <mat-spinner class="spinner" *ngIf="loading"></mat-spinner>

      <!-- <div class="loader spinner" id="loader-2">
        <span></span>
        <span></span>
        <span></span>
      </div> -->
  
  
      <form [formGroup]="form" (ngSubmit)="Ingresar()">
        <span class="bien">-- Bienvenido --</span>
        <h1 class="inicio">Inicie sesion</h1>
  
        <mat-form-field class="ancho" >
          <mat-label>Usuario</mat-label>
          <input type="text" matInput formControlName="usuario">
        </mat-form-field>
      
        <mat-form-field class="ancho" >
          <mat-label>Contraseña</mat-label>
          <input type="password" matInput formControlName="password">
        </mat-form-field>
  
        <!-- <section class="example-section">
          <mat-checkbox class="example-margin">Recuerdame</mat-checkbox>
        </section> -->

        <br>
        <button type="submit" class="btn" mat-raised-button color="primary" [disabled]="form.invalid">Ingresar</button>
      </form>
  
      <div class="nuevo">
        <p>Eres nuevo aqui? <a [routerLink]="['/registrar']" class="registrarse">Registrarse</a></p>
      </div>
    </div>
  
  
  
  </div>
  
  
</div>





