.color{
  background-color: #ff7d00;
  background-color: #f7b105;
  background-color: #012e46;
  background-color: #2099b6;
  background-color: #88c3dc;
}


.all{
  padding-top: 0px;
  padding-bottom: 50px;
  background-size: cover;
  background-position-y: center;
  /* background-image: linear-gradient(to top,rgba(255, 255, 255, 0) 0%, rgba(255, 251, 251, 0.207) 100%), url(../../../assets/img/banner3.jpg); */
  
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 100%;
}


.body {
  width: 40%;
  margin: 5% 25%;
  border-radius: 20px;
  padding: 50px;
  /* background-image: linear-gradient(to top,rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0) 100%), url(../../../assets/img/bannerCocina.jpg); */
  background-repeat: no-repeat;
  text-align: center;
  background-color: #fff;
  padding-top: 140px;
}


.bien{
  font-family: 'Dancing Script', cursive;
  font-size: 25px;
  margin-top: 200px;
  margin-bottom: 10px;
  color: #626c9f;
}

.inicio{
  color: #2099b6;
  font-family: 'Lora', serif;
  font-size: 30px;
  margin-top: 15px;
}

.ancho {
  width: 50%;
  display: flex;
  height: 60px;
  font-size: 16px;
  flex-direction: column;
  margin: 0 25%;
}

.example-section{
  margin-left: -170px;
}

.boton {
  height: 50px;
  text-align: center;
}

.nuevo{
  margin-top: 30px;
}

.btn{
  background-color: #db9cbd;
  color: #fff;
  padding: 7px 20px;
  border: none;
  border-radius: 12px;
  margin-top: 5px;
}

.registrarse{
  padding: 7px 10px;
  border: 2px solid #626c9f;
  border-radius: 15px;
  margin-left: 5px;
  text-decoration: none;
  color: #626c9f;
}

.spinner{
  position: absolute;
  z-index: 100;
  margin: 5% 15%;
}







html, body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

a{
  text-decoration: none;
}

.twelve { width: 100%; }
.eleven { width: 91.53%; }
.ten { width: 83.06%; }
.nine { width: 74.6%; }
.eight { width: 66.13%; }
.seven { width: 57.66%; }
.six { width: 49.2%; }
.five { width: 40.73%; }
.four { width: 32.26%; }
.three { width: 23.8%; }
.two { width: 15.33%; }
.one { width: 6.866%; }

/* COLUMNS */

.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}

.col:first-of-type {
  margin-left: 0;
}

.container{
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  position: relative;
  text-align: center;
}

/* CLEARFIX */

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

.row{
  margin: 30px 0;
}

.three{
  background-color: #eee;
  padding: 50px 0;
}

/* LOADER 2 */

#loader-2 span{
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background-color: #3498db;
  margin: 30px 8px;
}

#loader-2 span:nth-child(1){
  animation: bounce 1s ease-in-out infinite;
}

#loader-2 span:nth-child(2){
  animation: bounce 1s ease-in-out 0.33s infinite;
}

#loader-2 span:nth-child(3){
  animation: bounce 1s ease-in-out 0.66s infinite;
}

@keyframes bounce{
  0%, 75%, 100%{
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }

  25%{
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}
