<!-- <app-navbar></app-navbar> -->

<p>ver-foro works!</p>


<div class="all">
  <h1>{{ foro.titulo }}</h1>
  <h2>Usuario: {{ foro.usuario }}</h2>
  <small>{{ foro.fecha }}</small>
  <div [innerHTML]="html" class="post"></div>
  <br><br>
  <hr>
  <br><br><br>
  <div class="comentarios comments-container">
    

    <div class="comentarios">
      <h1>Comentarios</h1>

      <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"></ngx-editor-menu>
      <ngx-editor
        [editor]="editor"
        [(ngModel)]="comentario"
        >
      </ngx-editor>

      <br>
      <button type="submit" (click)="guardar()" >publicar</button>

      <br><br>

      

    </div>
    
<h1>Comentarios</h1>

<div class="mostrar" *ngIf="mostrarComentarios">
  <div class="for" *ngFor="let element of listaComentarios; let i = index">
    <ul class="lista-comments">
      <li>
        <div class="comment-box">
          <div class="comment-head">
            
            {{ element.usuario }} 
            <!-- <i class="fa-solid fa-trash-can"></i> -->
            <br> <small>{{ element.fecha.hora }}</small>
          </div>
          <div [innerHTML]="element.comentario"></div>
        </div>
        <!-- <ul class="respuestas">
          <li>
            <div class="comment-box">
              <div class="comment-head">
                Nombre user- fecha
              </div>
              <div class="comment-body">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </div>
            </div>
          </li>
        </ul> -->
      </li>
    </ul>
  </div>
</div>