.color{
  background-color: #00e5ff;
  background-color: #ff7d00;
  background-color: #f7b105;
  background-color: #012e46;
  background-color: #2099b6;
  background-color: #88c3dc;
}

.all{
  padding-top: 0px;
  padding-bottom: 50px;
  background-size: cover;
  background-position-y: center;
  /* background-image: linear-gradient(to top,rgba(0, 0, 0, 0.452) 0%, rgba(21, 20, 20, 0.233) 100%), url(../../../assets/img/banner2.jpg); */
  /* color: white; */
  
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 100%;
}

.body {
  width: 50%;
  height: 450px;
  margin: 5% 22%;
  border-radius: 20px;
  padding: 50px;
  text-align: center;
  background-color: #fff;
  background-position: center;
  /* background-image: linear-gradient(to top,rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0) 100%), url(../../../assets/img/fondo-AI.svg); */
  /* color: white; */
}

.chibi-saludo{
  width: 250px;
  position: absolute;
  z-index: 100;
  right: 300px;
}

.title{
  margin-top: 85px;
}

.column{
  margin-top: 75px;
}

.bien{
  font-weight: bolder;
  letter-spacing: 2px;
  font-size: 30px;
  margin-bottom: 5px;
  color: #626c9f;
}

.inicio{
  color: #2099b6;
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Lora', serif;
  /* font-family: 'Indie Flower', cursive; */
  /* font-family: 'Arima', cursive; */
  font-size: 25px;
  margin-top: 10px;
}

.columna50{
  width: 50%;
  float: left;
}

.mat-form-field{
  width: 80%;
}

.btn{
  background-color: #626c9f;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
}

/*Validaciones*/
.is-invalid {
  color: #ff0000;
  border: 2px solid #ff0000a6;
}
.text-danger {
  display: block;
  margin-left: -2px;
  margin-top: -18px;
  /* padding-top: 2px; */
  color: #ff0000a6;
}

