<div class="all">
  <div class="body">
    <!-- <mat-spinner diameter="50" class="spinner" *ngIf="loading"></mat-spinner>
      <div class="circleG"></div>
      <div class="circleP"></div>
      <div class="circleM"></div> -->
    <!-- <img src="../../../assets/img/chibi-saludo.png" alt="chibi-saludo" class="chibi-saludo"> -->

    <form [formGroup]="forma" (ngSubmit)="guardar()">

      <div class="title">
        <span class="bien">Bienvenido!</span>
        <h1 class="inicio">Registrate</h1>
      </div>

      <div class="column">
        <div class="columna50">

          <div class="row">
            <mat-form-field class="ancho">
              <mat-label>Nombre</mat-label>
              <input type="text" matInput formControlName="nombre" placeholder="Nombre"
                [class.is-invalid]="nombreNoValido">

            </mat-form-field>
            <small class="text-danger" *ngIf="nombreNoValido">Ingrese más de 3 letras</small>
          </div>

          <div class="row">
            <mat-form-field class="ancho">
              <mat-label>Correo</mat-label>
              <input type="mail" matInput formControlName="correo" placeholder="Correo Electrónico"
                [class.is-invalid]="correoNoValido" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$">
            </mat-form-field>

            <small class="text-danger" *ngIf="correoNoValido">
              Ingrese un correo válido
            </small>
            <small class="text-danger" *ngIf="emailExistente">
              El Correo ya esta en uso
            </small>
          </div>

          <div class="row">
            <mat-form-field class="ancho">
              <mat-label>Usuario</mat-label>
              <input type="text" matInput placeholder="Nombre de Usuario" formControlName="usuario"
                [class.is-invalid]="usuarioNoValido">
            </mat-form-field>
            <small class="text-danger" *ngIf="usuarioNoValido">
              Ingrese un nombre de usuario
            </small>
            <small class="text-danger" *ngIf="usuarioExistente">
              El nombre de usuario ya esta en uso
            </small>
          </div>
        </div>

        <div class="columna50">

          <mat-form-field class="ancho">
            <mat-label>Género</mat-label>
            <mat-select formControlName="sexo">
              <mat-option *ngFor="let item of sexo" [value]="item">
                {{item}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="ancho">
            <mat-label>Contraseña</mat-label>
            <input type="password" matInput formControlName="pass1" placeholder="Contraseña"
              [class.is-invalid]="pass1NoValido">
          </mat-form-field>

          <!-- <div class="row">
                <div class="col-5">
                  <label for="fpassword" class="lbl">Contraseña</label>
                </div>
                <div>
                  <input
                  type="password"
                  id="fpassword"
                  placeholder="Contraseña"
                  class="txtbox"
                  formControlName="pass1"
                  [class.is-invalid] = "pass1NoValido"
                  >
                </div>
              </div> -->

          <mat-form-field class="ancho">
            <mat-label>Repita</mat-label>
            <input type="password" matInput formControlName="pass2" placeholder="Repita la contraseña"
              [class.is-invalid]="pass2NoValido">
          </mat-form-field>

          <!-- <div class="row">
                <div class="col-5">
                  <label for="fpassword2" class="lbl">Repita</label>
                </div>
                <div>
                  <input
                  type="password"
                  id="fpassword2"
                  placeholder="Contraseña"
                  class="txtbox"
                  formControlName="pass2"
                  [class.is-invalid] = "pass2NoValido"
                  >
                </div>
              </div> -->

        </div>
      </div>

      <button type="submit" class="btn" [disabled]="!forma.valid">Guardar</button>
    </form>


  </div>
</div>